:root {
	--notquitewhite: #fbfcfb;
	--subtlebeige: #dbd8d3;
	--spaderblue: #8d8ea0;
	--pediablues: #474697;
	--darkorder: #252527;
	--lighterorder: #51505a;
}

h1 {
	font-family: arial;
	color: var(--pediablues);
	font-variant: small-caps;
	font-size: 3.5rem;
	letter-spacing: 0.5rem;
}

h2 {
	font-family: arial;
	color: var(--notquitewhite);
	font-variant: small-caps;
	font-size: 2rem;
	letter-spacing: 0.5rem;
}

p {
	font-family: timesnewroman;
	font-size: 1.3rem;
	color: var(--darkorder);
	padding: 3rem;
	padding-top: 1rem;
	text-align: justify;
}

b {
	font-weight: 1500;
	font-size: 1.4rem;
}

ul {
	list-style: none;
}

header {
	background-color: var(--notquitewhite);
	grid-area: h;
}

header > h1 {
	margin: 1.5rem;
	margin-top: 4rem;
}

body {
	background-color: var(--darkorder);
	height: 100%;
	display: grid;
	margin: 0;
	grid-template-columns: 2fr;
	grid-template-rows: 10rem 5fr;
	grid-template-areas: "h n"
						"m n";
}

nav {
	background-color: var(--spaderblue);
	grid-area: n;
	width: 35rem;
}

nav > span > img {
	margin: 1.5rem;
	margin-bottom: 0;
}

nav > h2 {
	display: block;
	text-align: center;
}

nav > p {
	color: var(--notquitewhite);
	padding: 2.5rem;
	padding-top: 0;
}

main {
  	background-color: var(--subtlebeige);
  	grid-area: m;
  }

#movielist {
  	display: grid;
  	grid-template-columns: repeat(auto-fill,300px);
  	grid-template-rows: 1fr;
  	margin: 2rem;
  	grid-gap: 1rem;
  	animation: appear 2s;
  }

#movielist > * {
	height: 436px;
  width: 300px;
}

#movielist > div > img {
  	height: 436px;
  	width: 300px;
  	opacity: 60%;
  }

#movielist > div > img:hover {
  	opacity: 100%;
  	border: solid var(--darkorder) 2px;
  }

#screen {
	background-image: url("crash-screen1.jpg");
	background-size: cover;
	width: 100%;
	height: 600px;
}

.conclusion {
	background-color: var(--lighterorder);
	color: var(--subtlebeige);
	font-weight: 400;
}

#moviereview {
	display: none;
}

@keyframes appear {
	from {
		opacity: 0;
	}

	to {
		opacity: 100%;
	}
}