:root {
	font-family: times new roman;
	--notquitewhite: #fbfcfb;
	--softbeige:  #d4cfc7;
	--pinkiepromise: #dcbccd;
	--darkerpink: #c5a3b5;
	--babyblue:  #9ec2c4;
	--brownline: #8c7e70;
	--browntext: #4f4a45;
	--merengue: #f6e9e0;

}


::-webkit-scrollbar{
	width: 0;
}

.flowers-top {
	background-image: url('flowers.png');
	background-repeat: repeat-x;
	height: 200px;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}

.flowers-bottom {
	background-image: url('flowers.png');
	background-repeat: repeat-x;
	height: 200px;
	width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;
	transform: rotate(180deg);
}



body {
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
	background-color: var(--merengue);
	background-image: url('paper.png');
	margin: auto;
}


header {
	padding: 3rem;
	width: 100%;
	margin: auto;
	text-align: center;
	background-color: var(--pinkiepromise);

}

main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25rem,1fr));
	padding: 2rem;
	margin: 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 100%;
}


main > article {
	margin: 1rem;
}

article {
	display: grid;
	text-align: center;
	background-color: var(--babyblue);
	border-radius: 0.5rem;
	border: solid transparent 5px;
	padding: 0.5rem;
}

article:hover {
	border: solid var(--notquitewhite) 5px;
}

article > * {
	margin: 0.5rem;
}

img {
	margin: auto;
	margin-bottom: 0.5rem;
	width: 22rem;
	height: 15rem;
	border-radius: 0.5rem;
	opacity: 0.6;
}

img:hover {
	opacity: 1;
}


h1 {
	font-family: 'Aguafina Script', cursive;
	color: var(--browntext);
	font-size: 5rem;
	letter-spacing: 0.3rem;
	margin: 1rem;
	margin-bottom: 0;
}

h3 {
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	font-style: italic;
	color: var(--browntext);
}

h4, a {
	text-decoration: none;
	color: var(--browntext);
	font-variant: small-caps;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
}


p {
	color: var(--browntext);
	font-size: 1.1rem;
	font-style: italic;
	padding: 1rem;
	padding-bottom: 0;
	padding-top: 0;
}


@media (max-width: 784px) {

	.decor {
		display: none;
	}
}