:root {
	font-family: times new roman;
	--notquitewhite: #fbfcfb;
	--softbeige:  #d4cfc7;
	--pinkiepromise: #dcbccd;
	--babyblue:  #9ec2c4;
	--brownline: #8c7e70;
	--browntext: #4f4a45;

}

.flowers-top {
	background-image: url('flowers.png');
	background-repeat: repeat-x;
	height: 200px;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}

.flowers-bottom {
	background-image: url('flowers.png');
	background-repeat: repeat-x;
	height: 200px;
	width: 100vw;
	position: fixed;
	bottom: 0;
	left: 0;
	transform: rotate(180deg);
}



body {
	background-color: var(--pinkiepromise);
	max-width: min-content;
	margin: auto;
}

main {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 900px;
	width: 1250px;
	background-image: url('paper.png');
}

section {
	height: 900px;
	width: 1250px;
	position: relative;
	background-image: url('book.png');
}

h1 {
	font-family: 'Aguafina Script', cursive;
	color: var(--browntext);
	font-size: 5rem;
	letter-spacing: 0.3rem;
	margin: 1rem;
}

h3 {
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	font-style: italic;
	color: var(--browntext);
}

#cover {
	background-image: url('book-first.png');
}

.page-1 {
	display: grid;
	border: dotted var(--brownline) 2px;
	position: absolute;
	top: 10%;
	right: 12%;
	max-height: 80%;
	width: 30%;
	text-align: center;
	padding: 1rem;
}