:root {
	font-family: times new roman;
	--notquitewhite: #fbfcfb;
	--softbeige:  #d4cfc7;
	--pinkiepromise: #dcbccd;
	--babyblue:  #9ec2c4;
	--brownline: #8c7e70;
	--browntext: #4f4a45;

}

.flowers-top {
	background-image: url('flowers.png');
	background-repeat: repeat-x;
	height: 200px;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
}

.flowers-bottom {
	background-image: url('flowers.png');
	background-repeat: repeat-x;
	height: 200px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	transform: rotate(180deg);
}



body {
	background-color: var(--notquitewhite);
	background-image: url('paper.png');
	margin: auto;
}


header {
	padding: 3rem;
	width: 100%;
	margin: auto;
	text-align: center;
	background-color: var(--pinkiepromise);

}

main {
	display: flex;
	padding: 2rem;
	margin: 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 100%;
}

main > article {
	margin: 1rem;
}

article {
	display: grid;
	text-align: center;
	background-color: var(--babyblue);
	border-radius: 0.5rem;
	border: solid var(--notquitewhite) 5px;
	padding: 1rem;
	color: var(--notquitewhite);
}

article > * {
	margin: 0.5rem;
}

article > img {
	margin: auto;
}


h1 {
	font-family: 'Aguafina Script', cursive;
	color: var(--browntext);
	font-size: 5rem;
	letter-spacing: 0.3rem;
	margin: 1rem;
	margin-bottom: 0;
}

h3 {
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	font-style: italic;
	color: var(--browntext);
}

h4 {
	color: var(--browntext);
	font-variant: small-caps;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
}

p {
	color: var(--browntext);
	font-size: 1.1rem;
}
